<div>
    <p>Add Event</p>
    <form id="add_event_form">
        <label for="event_name">Name</label>
        <input type="text" data-ng-model="event.name" id="event_name">
        <label for="event_description">Description</label>
        <input type="text" data-ng-model="event.description" id="event_description">
        <label for="event_targetGroup">Target Group</label>
        <input type="text" data-ng-model="event.targetGroup" id="event_targetGroup">
        <label for="event_contribution_description">Contributions Description</label>
        <input type="text" data-ng-model="event.contributionsDescription" id="event_contribution_description">
        <label for="event_location_name">Location Name</label>
        <input type="text" data-ng-model="event.location.name" id="event_location_name">
        <label for="event_location_street">Location Street</label>
        <input type="text" data-ng-model="event.location.street" id="event_location_street">
        <label for="event_location_plz">Location PLZ</label>
        <input type="number" data-ng-model="event.location.plz" id="event_location_plz">
        <label for="event_location_city">Location City</label>
        <input type="text" data-ng-model="event.location.city" id="event_location_city">
        <label for="time_start">Time Start</label>
        <input type="date" data-ng-model="event.timeStart" id="time_start">
        <label for="time_end">Time end</label>
        <input type="date" data-ng-model="event.timeEnd" id="time_end">
        <button type="submit" data-ng-click="addEvent()">Add</button>
    </form>
    <a href="#/">Zurück</a>
</div>