<div class="row header-row">
    <div class="col-xs-10">
        <h1 class="title">Add Guest</h1>
    </div>
</div>
<form id="add_guest">
    <label for="name">Name</label>
    <input type="text" id="name" data-ng-model="guest.name">
    <label for="contribution">Contribution</label>
    <input type="text" id="contribution" data-ng-model="guest.contribution">
    <label for="comment">Comment</label>
    <input id="comment" type="text" data-ng-model="guest.comment">
    <button type="submit" data-ng-click="addGuest()">Add</button>
</form>
<a href="#/">Back</a>