<div class="row header-row">
    <div class="col-xs-10">
        <h1 class="title">Add Guest</h1>
    </div>
    <div class="col-xs-2">
        <a href="#/" class="add-btn btn btn-round glyphicon glyphicon-arrow-left"></a>
    </div>
</div>
<div class="row">
    <div class="add-container">
        <form id="add_guest" class="navbar-form add-form form-group">
            <div class="col-md-4">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name" data-ng-model="guest.name">
            </div>
            <div class="col-md-4">
                <label for="contribution">Contribution</label>
                <input class="form-control" type="text" id="contribution" data-ng-model="guest.contribution">
            </div>
            <div class="col-md-4">
                <label for="comment">Comment</label>
                <input class="form-control" id="comment" type="text" data-ng-model="guest.comment">
            </div>
            <hr size="1" class="col-md-12">
            <div class="col-md-12">
                <button class="btn btn-default" type="submit" data-ng-click="addGuest()">Add Guest</button>
            </div>
        </form>
    </div>
</div>

