<div class="row header-row">
    <div class="col-xs-10">
        <h1 class="title">{{event.name}}</h1>
    </div>
    <div class="col-xs-2">
        <label for="addBtn">Guest</label>
        <a href="#/addGuest" class="btn btn-round glyphicon glyphicon-plus add-btn" id="addBtn"></a>
    </div>
</div>
<div class="row event-details">
    <label for="beginEvent">Begin:</label>
    <p id="beginEvent">{{event.times.begin | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
    <label for="endEvent">End:</label>
    <p id="endEvent">{{event.times.end | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
    <label for="targetGroup">Target Group:</label>
    <p id="targetGroup">{{event.targetGroup}} </p>
    <label for="contributionDescription">Contribution:</label>
    <p id="contributionDescription">{{event.contributionsDescription}}</p>
    <label for="locationName">Location:</label>
    <p id="locationName">{{event.location.name}} {{event.location.street}}</p>
    <label for="city">City:</label>
    <p id="city">{{event.location.city}}</p>
</div>