<h1 class="title">Events</h1>
<button type="button" class="btn btn-round glyphicon glyphicon-plus" data-ng-click="toggleAdd()"></button>
<div data-ng-show="adding">
    <form id="add_event_form">
        <input class="form-control" placeholder="Event" type="text" data-ng-model="event.name" id="event_name" required="required">
        <hr size="1">
        <label class="col-md-3" for="time_start">Begin</label>
        <input class="col-md-3" type="date" data-ng-model="event.times.begin" id="time_start" required="required">
        <label class="col-md-3" for="time_end">End</label>
        <input class="col-md-3" type="date" data-ng-model="event.times.end" id="time_end" required="required">
        <label class="col-md-12" for="event_description">Description</label>
        <input class="form-control" placeholder="Description" type="text" data-ng-model="event.description" id="event_description" required="required">
        <label for="event_targetGroup">Target Group</label>
        <input class="form-control" placeholder="Target Group" type="text" data-ng-model="event.targetGroup" id="event_targetGroup" required="required">
        <label for="event_contribution_description">Contributions Description</label>
        <input class="form-control" placeholder="Contribution" type="text" data-ng-model="event.contributionsDescription" id="event_contribution_description" required="required">
        <label for="event_location_name">Location Name</label>
        <input class="form-control" placeholder="Location Name" type="text" data-ng-model="event.location.name" id="event_location_name" required="required">
        <label for="event_location_street">Location Street</label>
        <input class="form-control" placeholder="Street" type="text" data-ng-model="event.location.street" id="event_location_street" required="required">
        <label for="event_location_plz">Location PLZ</label>
        <input type="number" data-ng-model="event.location.plz" id="event_location_plz" min="1000" max="9999" required="required">
        <label for="event_location_city">Location City</label>
        <input class="form-control" placeholder="City" type="text" data-ng-model="event.location.city" id="event_location_city" required="required">
        <hr size="1">
        <button class="btn btn-default" type="submit" data-ng-click="addEvent()">Save Changes</button>
    </form>
</div>
<div data-ng-repeat="event in events">
    <a href="#/event/{{event.id}}" class="btn btn-default">

        <hr size="1">
        <p>{{event.times.begin | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
        <p>{{event.name}} </p>
        <p>{{event.location.name}} {{event.location.street}}</p>
        <p>{{event.location.city}}</p>
    </a>
</div>
