
<div class="row header-row">
    <div class="col-xs-10">
        <h1 class="title">Events</h1>
    </div>
    <div class="col-xs-2">
        <a href="#/addEvent" class="btn btn-round glyphicon glyphicon-plus addEvent-btn"></a>
    </div>
</div>

<div class="row">
    <div data-ng-repeat="event in events" class="event-row">
        <a href="#/event/{{event.id}}" class="btn btn-default event-btn">
            <p>{{event.times.begin | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
            <p>{{event.name}} </p>
            <p>{{event.location.name}} {{event.location.street}}</p>
            <p>{{event.location.city}}</p>
        </a>
    </div>
</div>

