<div class="row header-row">
    <div class="col-xs-8">
        <h1 class="title">{{event.name}}</h1>
    </div>
    <div class="col-xs-2">
        <a href="#/" class="add-btn btn btn-round glyphicon glyphicon-arrow-left"></a>
    </div>
    <div class="col-xs-2">
        <a data-ng-click="addGuest()" class="btn btn-round glyphicon glyphicon-plus add-btn" id="addBtn"></a>
        <label for="addBtn">{{guests.length}} Guests</label>
    </div>
</div>
<div class="row event-details-container">
    <div class="event-details-content">
        <div class="col-md-6">
            <label for="beginEvent">Begin:</label>
            <p id="beginEvent">{{event.times.begin | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
        </div>
        <div class="col-md-6">
            <label for="endEvent">End:</label>
            <p id="endEvent">{{event.times.end | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
        </div>
        <hr class="col-md-12" size="1">
        <div class="col-md-6">
            <label for="targetGroup">Target Group:</label>
            <p id="targetGroup">{{event.targetGroup}} </p>
        </div>
        <div class="col-md-6">
            <label for="contributionDescription">Contribution:</label>
            <p id="contributionDescription">{{event.contributionsDescription}}</p>
        </div>
        <hr class="col-md-12" size="1">
        <div class="col-md-6">
            <label for="locationName">Location:</label>
            <p id="locationName">{{event.location.name}} {{event.location.street}}</p>
        </div>
        <div class="col-md-6">
            <label for="city">City:</label>
            <p id="city">{{event.location.city}}</p>
        </div>
        <div class="col-md-12">
            <h2>Guestlist</h2>
            <h6>max {{event.maximalAmountOfGuests}} Guests</h6>
        </div>
        <div class="guest-container col-md-12" data-ng-repeat="guest in guests">
            <hr class="col-md-12" size="1">
            <div class="col-md-3">
                <label for="guest">Name:</label>
                <p id="guest">{{guest.name}}</p>
            </div>
            <div class="col-md-3">
                <label for="contribution">Contribution:</label>
                <p id="contribution">{{guest.contribution}}</p>
            </div>
            <div class="col-md-3">
                <label for="comment">Comment:</label>
                <p id="comment">{{guest.comment}}</p>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-round glyphicon glyphicon-edit" data-ng-click="editGuest(guest)"></button>
                <button type="submit" class="btn btn-round glyphicon glyphicon-erase" data-ng-click="deleteGuest(guest.id)"></button>
            </div>
        </div>
    </div>
</div>