<div class="row header-row">
    <div class="col-xs-10">
        <h1 class="title">{{event.name}}</h1>
    </div>
    <div class="col-xs-2">
        <a href="#/addGuest" class="btn btn-round glyphicon glyphicon-plus add-btn"></a>
    </div>
</div>
<div>
    <p>{{event.times.begin | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
    <p>{{event.times.end | date:"dd.MM.yyyy HH:mm"}}Uhr</p>
    <p>{{event.targetGroup}} </p>
    <p>{{event.contributionsDescription}}</p>
    <p>{{event.location.name}} {{event.location.street}}</p>
    <p>{{event.location.city}}</p>
</div>