body  {
    background-image:url("../image/event_background.jpg");
}

.main-container {
    background-color: rgba(0, 0, 0, 0.3);
    height:100vh;
}

.container {
    text-decoration: none;
    color: black;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: limegreen;
}

form label {
    color: white;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.title {
    color: white;
}

.event-row {
    display: flex;
    margin-top: 10px;
}

.event-btn {
    font-size: 20px;
    margin: auto;
    padding: 0 40px 0 40px;
}

.header-row {
    background-color: #0f0f0f;
}

.addEvent-btn {
    margin-top: 18px;
}

.addEvent-container {
    display: flex;
}

.addEvent-form {
    margin:auto;
}

.glyphicon-plus {
    color: white;
    padding:8px;
}